<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Corte 2</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <style>

        *{
            margin: 0;
            padding: 0;
            box-sizing:border-box;
        }
        main{
            width: 500px;
            height: auto;
            background-color: bisque;
        }

        .centrarDiv{
            display: grid;
            place-items: center;
        }

        .separacion{
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .contenido{
            background-color: rgb(126, 126, 235);
            border: 5px solid black;
        }
    </style>
</head>
<body style="height: 100vh;" class="centrarDiv">

    <main>
        <div class="centrarDiv separacion">
            <img style="width: 50px;" src="./img/Logoinfo.png" alt="">
        </div>

        <div class="centrarDiv separacion">
            <h2><%=Header%></h2>
        </div>

        <div class="centrarDiv separacion">
            <h3><%=subHeader%></h3>
        </div>

        <div class="separacion">
            <nav class="navbar navbar-expand-lg navbar-darkS bg-dark">
                <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a style="color: whitesmoke;" class="nav-link active" aria-current="page" href="#">Acerca de la empresa</a>
                      <a style="color: whitesmoke;" class="nav-link" href="#">Ingreso de Personal</a>
                      <a style="color: whitesmoke;" class="nav-link" href="#">Contactos</a>
                    </div>
                  </div>
                </div>
              </nav>
        </div>

        <div class="centrarDiv contenido separacion">
            <form action="post">
                <label for="NumContacto">Numero de Contacto:</label>
                <br>
                <input id="NumContacto" name="NumContacto" type="text">

                <br>

                <label for="Nombre">Nombre:</label>
                <br>
                <input id="Nombre" name="Nombre" type="text">

                <br>
                
                <label for="Domicilio">Domicilio:</label>
                <br>
                <input id="Domicilio" name="Domicilio" type="text">

                <br>
                
                <label for="Estudio">Nivel de Estudios:</label>
                <br>
                <select name="NvEstudios" id="NvEstudios" value="">
                    <option value="1">Licenciatura</option>
                    <option value="2">Maestria</option>
                    <option value="3">Doctorado</option>
                </select>

                <br>

                <label for="PagoDiario">Pago Diario Base:</label>
                <br>
                <input id="PagoDiario" name="PagoDiario" type="text">

                <br>

                <label for="DiasTrabajados">Dias Trabajados:</label>
                <br>
                <input id="DiasTrabajados" name="DiasTrabajados" type="text">

                <br>
            </form>
        </div>

        <hr>

        <div class="centrarDiv separacion">
            <h6><%=Footer%></h6>
        </div>

    </main>


</body>
</html>